<div class="sidenav" fxFlex="grow" fxLayout="column" [@sidenavState]="sidenavState$ | async"
    [class.collapsed]="isCollapsed">

    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">

        <img class="logo" [routerLink]="['/']" *ngIf="isCollapsed" src="assets/icons/icon-64x64.png">
        <h3>SWU</h3>
        <span fxFlex>
        </span>

        <div fxHide fxShow.gt-md fxFlexAlign="center">
            <button class="collapse-toggle" *ngIf="!isCollapsedState" mat-icon-button (click)="toggleCollapsed()">
                <mat-icon class="icon">radio_button_checked</mat-icon>
            </button>
            <button class="collapse-toggle" *ngIf="isCollapsedState" mat-icon-button (click)="toggleCollapsed()">
                <mat-icon class="icon">radio_button_unchecked</mat-icon>
            </button>
        </div>
    </div>

    <fury-scrollbar class="sidenav-items" fxFlex="grow" fxLayout="column">
        <fury-sidenav-item *ngFor="let item of items$ | async" [item]="item" [level]="1"></fury-sidenav-item>
    </fury-scrollbar>
</div>