@import "_custom_color_scheme.scss";
$primary-color: map-get($mat-swu-primary, 500);

::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: rgba($primary-color, .4);
}
::-webkit-scrollbar-thumb:hover
{
	background-color: rgba($primary-color, .9);
}
