<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Star Wars Universe</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Planets </a>
      <a mat-button [routerLink]="'/create-account'"> Spaceships </a>
      <a mat-button [routerLink]="'/contacts'"> Vehicles </a>
      <a mat-button [routerLink]="'/create-contact'"> Peoples </a>
      <a mat-button [routerLink]="'/activities'"> Filmes </a>
      <a mat-button [routerLink]="'/create-activity'"> Species </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/'"> Home </a>
      <a mat-list-item [routerLink]="'/menu'"> Menu </a>
      <a mat-list-item [routerLink]="'/accounts'"> Planets </a>
      <a mat-list-item [routerLink]="'/create-account'"> Spaceships </a>
      <a mat-list-item [routerLink]="'/contacts'"> Vehicles </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Peoples </a>
      <a mat-list-item [routerLink]="'/activities'"> Filmes </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Species </a>
      <a mat-list-item (click)="sidenav.toggle()" href="">Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>