<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>{{title}}</h1>
    </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'"> Início </a>
      <a mat-button [routerLink]="'/planets'"> Planetas </a>
      <a mat-button [routerLink]="'/spaceships'"> Naves </a>
      <a mat-button [routerLink]="'/vehicles'"> Veículos </a>
      <a mat-button [routerLink]="'/peoples'"> Personagens </a>
      <a mat-button [routerLink]="'/films'"> Filmes </a>
      <a mat-button [routerLink]="'/species'"> Espécies </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <!-- <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/'"> Home </a>
      <a mat-list-item [routerLink]="'/menu'"> Menu </a>
      <a mat-list-item [routerLink]="'/accounts'"> Planets </a>
      <a mat-list-item [routerLink]="'/create-account'"> Spaceships </a>
      <a mat-list-item [routerLink]="'/contacts'"> Vehicles </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Peoples </a>
      <a mat-list-item [routerLink]="'/activities'"> Filmes </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Species </a>
      <a mat-list-item (click)="sidenav.toggle()" href="">Close</a>

    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>