<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Star Wars Universe</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'"> Início </a>
      <a mat-button [routerLink]="'/planets'"> Planetas </a>
      <a mat-button [routerLink]="'/spaceships'"> Naves </a>
      <a mat-button [routerLink]="'/vehicles'"> Veículos </a>
      <a mat-button [routerLink]="'/peoples'"> Personagens </a>
      <a mat-button [routerLink]="'/films'"> Filmes </a>
      <a mat-button [routerLink]="'/species'"> Espécies </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-container" #scrollContainer fxFlex="grow">
  <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
</div>